<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <body>
        <h1>New Blog</h1>
        <form action="/NewBlog" method="POST">
            <input type="text" name="Blogtitle" placeholder="Give title to ur blog" required/>
            <input type="text" name="Blogcategory" placeholder="Select a category " required/>
            <input type="text" name="Blogcontent" placeholder="Your blog goes here" required/>
            <button type="submit">Publish Blog</button>

        </form>
    </body>
</html>